p {
  color: black;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h5 {
  text-align: center;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.content-header {
  align-items: center;
  height: 100%;
}

footer {
  background-color: black;
  padding: auto;
  width: 100%;
}

.card-body {
  align-items: center;
  text-align: center;
}

.card-text-center {
  background-color: dimgrey !important;
  display: flex;
  align-items: center;
}

body {
  background-color: dimgrey;
}

h2 {
  text-align: center;
  color: white;
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  color: black;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h5 {
  text-align: center;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.carouselExampleControls {
  display: flex;
  align-items: center;
}

footer {
  background-color: black;
  padding: auto;
  width: 100%;
}

.card-body {
  align-items: center;
  text-align: center;
}

.card-text-center {
  background-color: dimgrey !important;
  display: flex;
  align-items: center;
}

body {
  background-color: dimgrey;
}

h2 {
  text-align: center;
  color: white;
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  color: black;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h5 {
  text-align: center;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer {
  background-color: black;
  padding: auto;
  width: 100%;
}

.card-body {
  align-items: center;
  text-align: center;
}

.card-text-center {
  background-color: dimgrey !important;
  display: flex;
  align-items: center;
}

body {
  background-color: dimgrey;
}

h2 {
  text-align: center;
  color: white;
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  color: black;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h3 {
  text-align: center;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h5 {
  text-align: center;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer {
  background-color: black;
  padding: auto;
  width: 100%;
}

.info {
  text-align: center;
}

.card-body {
  align-items: center;
  text-align: center;
}

.card-text-center {
  background-color: dimgrey !important;
  display: flex;
  align-items: center;
}

.card-img-top {
  size: 200 px;
  display: flex;
}

body {
  background-color: dimgrey;
}

h2 {
  text-align: center;
  color: white;
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  color: black;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h5 {
  text-align: center;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer {
  background-color: black;
  padding: auto;
  width: 100%;
}

.card-body {
  align-items: center;
  text-align: center;
}

.card-text-center {
  background-color: dimgrey !important;
  display: flex;
  align-items: center;
}

body {
  background-color: dimgrey;
}

.nav-item {
  padding: 20px;
}

.col {
  padding: 5px;
}

/*# sourceMappingURL=style.css.map */
