h2{
  text-align: center;
  color: white;
  padding: 20px;
  }
h3{
  text-align: center;
  color: white;
}
p{
  color: black;
  text-align: center;
}
.info{
  text-align: center;
}
.card-body{
  align-items: center;
  text-align: center;
}
.card-img-top{
  size: 200 px;
  display: flex;
}
footer{
  background-color: black;
  padding: auto;
}
.card-text-center{
  color: black;
  display: flex;
  align-items: center;
}
body{
  background-color:dimgrey
}
.nav-item{
  padding: 20px;
}
.col{
  padding: 5px;
}