h2 {
	text-align: center;
	color: $color-secundario;
	padding: 20px;
	font-family: $fuente ;
}
p {
	color: $color-terciario;
	text-align: center;
	font-family: $fuente;
}
h5{
	text-align: center;
	color: $color-terciario;
	font-family: $fuente;
}
footer {
	background-color: black;
	padding: auto;
	width: 100%;
}
.card-body {
	align-items: center;
	text-align: center;
}
.card-text-center {
	background-color: dimgrey !important;
	display: flex;
	align-items: center;
}
body {
	background-color: dimgrey;
}